<div class="page-container container">
  <h1 class="page-title" jslAnimateOnScroll>{{ 'PRODUCTS.TITLE' | translate }}</h1>
  <p class="page-subtitle" jslAnimateOnScroll>{{ 'PRODUCTS.SUBTITLE' | translate }}</p>

  <div class="products-grid">
    <ng-container *ngIf="products$ | async as products">
      <jsl-card 
        *ngFor="let product of products"
        [icon]="product.icon"
        [title]="'PRODUCTS.' + product.key + '_TITLE' | translate"
        [description]="'PRODUCTS.' + product.key + '_DESC' | translate"
        [link]="['/', currentLang, 'products', product.slug]"> </jsl-card>
    </ng-container>
  </div>
</div>

<jsl-cta-section></jsl-cta-section>