services:
  - type: web
    name: jsl
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: node dist/app/server/server.mjs
    envVars:
      - key: NODE_ENV
        value: production
      - key: NODE_VERSION
        value: 22.16.0
