services:
  - type: web
    name: jsl
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npx serve -s dist/app -l $PORT
    envVars:
      - key: NODE_VERSION
        value: 22.16.0
