:host {
  width: 100%;
}

.top-bar {
  height: var(--top-bar-height);
  padding-top: 0; 
  padding-bottom: 0; 
  opacity: 1;

  transition: height 0.3s ease-out, 
              opacity 0.3s ease-out,
              padding-top 0.3s ease-out,
              padding-bottom 0.3s ease-out,
              border-color 0.3s ease-out;
}

.top-bar__container {
  display: flex;
  justify-content: flex-end; // <-- Alinea el selector de idioma a la derecha
  align-items: center;
  height: 100%;
  gap: 1.5rem; 
}

// Ocultar en móvil (ya estaba)
@media (max-width: 992px) {
  .top-bar__container {
    display: none;
  }
}