<div class="top-bar">
  <div class="top-bar__container container">
    
    <div class="top-bar__links">
      <ng-container *ngFor="let link of topLinks; let last = last">
        <a [routerLink]="['/', currentLang, link.route]">
          <span>{{ 'TOP_BAR.' + link.key | translate }}</span>
        </a>
        <span *ngIf="!last" class="top-bar__separator">|</span>
      </ng-container>
    </div>

    <div class="top-bar__language">
      <jsl-language-switcher></jsl-language-switcher>
    </div>

  </div>
</div>