<footer class="footer">
  <div class="footer__container container">
    
     <div class="footer__col">
      <a routerLink="/home" class="footer__logo">JSL Technology</a>
      <p class="footer__slogan">{{ 'FOOTER.SLOGAN' | translate }}</p>
      <div class="footer__socials">
        <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
          <lucide-icon name="Linkedin"></lucide-icon>
        </a>
        <a href="https://github.com" target="_blank" aria-label="GitHub">
          <lucide-icon name="Github"></lucide-icon>
        </a>
      </div>
    </div>

    <div class="footer__col">
      <h4 class="footer__col-title">{{ 'HEADER.PRODUCTS' | translate }}</h4>
      <ul class="footer__links">
        <li><a [routerLink]="[currentLang, 'products']">{{ 'PRODUCTS_LIST.ERP' | translate }}</a></li>
        <li><a [routerLink]="[currentLang, 'products']">{{ 'PRODUCTS_LIST.POS' | translate }}</a></li>
        <li><a [routerLink]="[currentLang, 'products']">{{ 'PRODUCTS_LIST.MOBILE' | translate }}</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h4 class="footer__col-title">{{ 'HEADER.SERVICES' | translate }}</h4>
      <ul class="footer__links">
        <li><a [routerLink]="[currentLang, 'solutions']">{{ 'SERVICES_LIST.WEB' | translate }}</a></li>
        <li><a [routerLink]="[currentLang, 'solutions']">{{ 'SERVICES_LIST.MOBILE' | translate }}</a></li>
        <li><a [routerLink]="[currentLang, 'solutions']">{{ 'SERVICES_LIST.DESKTOP' | translate }}</a></li>
        <li><a [routerLink]="[currentLang, 'solutions']">{{ 'SERVICES_LIST.CLOUD' | translate }}</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h4 class="footer__col-title">{{ 'FOOTER.COMPANY' | translate }}</h4>
      <ul class="footer__links">
        <li><a [routerLink]="[currentLang, 'about-us']">{{ 'HEADER.ABOUT' | translate }}</a></li>
        <li><a [routerLink]="[currentLang, 'projects']">{{ 'HEADER.PROJECTS' | translate }}</a></li>
        <li><a [routerLink]="[currentLang, 'contact']">{{ 'HEADER.CONTACT' | translate }}</a></li>
      </ul>
    </div>

  </div>
  
  <div class="footer__bottom container">
    <p>&copy; {{ currentYear }} JSL Technology. {{ 'FOOTER.COPYRIGHT' | translate }}</p>
    <div class="footer__bottom-links">
      <a [routerLink]="[currentLang, 'privacy-policy']">{{ 'LEGAL.PRIVACY_TITLE' | translate }}</a>
      <a [routerLink]="[currentLang, 'terms-of-service']">{{ 'LEGAL.TERMS_TITLE' | translate }}</a>
    </div>
  </div>
</footer>