<div class="page-container container">
  <h1 class="page-title" jslAnimateOnScroll>{{ 'PROJECTS.TITLE' | translate }}</h1>
  <p class="page-subtitle" jslAnimateOnScroll>{{ 'PROJECTS.SUBTITLE' | translate }}</p>

  <div class="projects-grid">
    <ng-container *ngIf="projects$ | async as projects">
      <jsl-card 
        *ngFor="let project of projects"
        [imageUrl]="project.imageUrl"
        [title]="'PROJECTS.' + project.key + '_TITLE' | translate"
        [description]="'PROJECTS.' + project.key + '_DESC' | translate"
        [link]="['/', currentLang, 'projects', project.slug]"
        jslAnimateOnScroll>
      </jsl-card>
    </ng-container>
  </div>
</div>

<jsl-cta-section 
  eyebrowKey="BLOG.CTA_EYEBROW"
  titleKey="BLOG.CTA_TITLE"
  subtitleKey="BLOG.CTA_SUBTITLE"
  [ctaLink]="['/', currentLang, 'blog']">
</jsl-cta-section>